
<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
          <form class="login-form">
            <div class="row">
            </div>
            <div class="row">
              <div class="input-field col s4">
                <input type="text" class="validate" id="nome" name="nome " [(ngModel)]="usuario.nome">
                <label for="nome" data-error="wrong" data-success="right">Nome</label>
              </div>
              <div class="input-field col s3">
                <input type="text" class="validate" id="genero" name="genero " [(ngModel)]="usuario.genero">
                <label for="genero" data-error="wrong" data-success="right">Genero</label>
              </div>
              <div class="input-field col s3">
                <input type="text" class="validate" id="nasc" name="nasc " [(ngModel)]="usuario.nasc">
                <label for="nasc" data-error="wrong" data-success="right">Nascimento</label>
              </div>
              <div class="input-field col s1">
              <input type="text" class="validate" id="idade" name="idade " [(ngModel)]="usuario.idade">
                <label for="idade" data-error="wrong" data-success="right">Idade</label>
              </div>
            </div>             
            <div class="row">
              <div class="input-field col s12">
                <a (click)="salvar()" class="btn waves-effect waves-light  btn-large col s12">Salvar
                </a>
              </div>
            </div>
              <div style="color: red"></div>
          </form>
      <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class=" text-primary">
                    <th>
                        Nome
                    </th>
                    <th>
                      Genero
                    </th>
                    <th>
                      Data de Nascimento
                    </th>
                    <th>
                        Idade
                    </th>
                    <th>
                      Apagar
                    </th>
                </thead>
                <tbody *ngIf="usuarios" ngClass="table-black">
                    <tr *ngFor="let usuario of usuarios">
                      <td>
                        <div>{{ usuario.nome }}</div>
                    </td>
                    <td>
                      <div>{{ usuario.genero }}</div>
                    </td>
                    <td>
                      <div>{{ usuario.nasc }}</div>
                    </td>
                    <td>
                      <div>{{ usuario.idade }}</div>
                    </td>
                    <td>
                      <a (click)="apagar(usuario)" class="btn-flat waves-effect"><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </div> 